:{$PORT} {
	root * /usr/share/caddy
	file_server
	encode gzip

	# Handle requests for HTML files without .html extension because the compiled site's links exclude the extension.
	try_files {path}.html {path}

	log {
		output stdout
		# Note: This format requires a plugin. See Dockerfile for details.
		format transform "{common_log}"
		level INFO
	}
}
