:{$PORT} {
	root * /usr/share/caddy
	file_server
	encode gzip

	# This would have been useful if this were a SPA but it's not.
	# try_files {path} {path}/ /index.html

	log {
		output stdout
		# Note: This format requires a plugin. See Dockerfile for details.
		format transform "{common_log}"
		level INFO
	}
}
